* {
    margin:0;
    padding:0;
    box-sizing: content-box;
}

#canvas1 {
    border: 5px solid black;
    position: static;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700%;
}

body {
     background-color: #7895B2;
    position: fixed;
    text-align: center;
    bottom: 40px;
}
h1 {
 font-family: 'Bungee', cursive;
  color: #890596;
  font-size: 70px;
  margin: 10px;
  padding-top: -60px;
  

}

#Btn:hover {
background-color: #395B64;

}

#Btn:active {
background-color: #553939;
   

}




/*#Btn {
    border: none;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background-color: #2C3333;
    color: #E7F6F2;
    font-weight: 900;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Grande',  sans-serif;
    transition: all 0.3s;
    justify-content: center;
    align-items: center;
    
}
*/

#winner-alert{
    background-color: var(foreground-color);
    color: #A460ED;
    font-size:large;
    text-align: center;
  }

.menu{
    display: flex;
    align-content: center;
}

.button {
    position:inherit;
    right: 10%;
    top:10%;
    background-color: var(foreground-color);
    color: #FFDE00;
    font-size:x-large;
    border:none;
    border-radius:10px;
}






